<div>
  <h1>Welcome {{ user().username}}</h1>

  <form>
    <mat-radio-group [(ngModel)]="selectedAction" name="selectedAction">
      <mat-radio-button value="search">Find Event</mat-radio-button>
      <mat-radio-button value="getAll">Get All Events</mat-radio-button>
      <mat-radio-button value="buyTicket">Buy Ticket</mat-radio-button>
    </mat-radio-group>

    @if(selectedAction === 'search') {
      <div>
        <app-find-event-template (searchEvents)="handleSearch($event)" (resetEvents)="resetEvents()"></app-find-event-template>
        @if(eventsFound && eventsFound.length > 0) {
          <app-event-table 
            [events]="eventsFound"
            (eventClicked)="onRowClick($event)" 
            (addToTicket)="addToTicket($event)">
          </app-event-table>
        }
      </div>
    }

      @if(selectedAction === 'getAll') {
        <div>
          <app-event-table 
            [events]="events" 
            (eventClicked)="onRowClick($event)" 
            (addToTicket)="addToTicket($event)">
          </app-event-table>
        </div>
      }

    @if(selectedAction === 'buyTicket') {
      <div>
        <app-buy-ticket></app-buy-ticket>
      </div>
    }
  </form>
</div>

